// COLORS
//$green: #0f0;

//FONT MAPPINGS
//$primary-font: "Charmonman", cursive;
// COLORS
$blue: #0a3142;
$white: #fff;
$black: #000;
$brown: #9a670c;
$red: #dd2727;
$grey: #ededed;

// SIZING
$fs: 16px;
$lh: 22px;
$gap: 20px;

//FONT MAPPINGS
$roboto: Roboto, sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, sans-serif;
$segoe: "Segoe UI", Helvetica, Arial, sans-serif;
